.clothes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 100px;
    gap: 50px 20px;
    border-bottom: 1px solid black;
    .clothes_card{
        img{
            width: 270px;
            height: 270px;
        }
    }
}